.coverege-card-container {
  background-color: #1c1c2b;
  padding: 10px;
  margin: 10px;
  width:90%;
}
.coverege-card-heading {
  color: #cbd5e1;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Roboto';
  width:100%;
}
